<!-- 
Simple method for detecting an Admin in Shopify using liquid.
Quick code by jason at freakdesign.com.au
Related Blog post: http://freakdesign.com.au/blogs/news/34154561
-->
{% capture CFH %}{{ content_for_header  }}{% endcapture %}

{% if CFH contains 'admin_bar_iframe' or CFH contains 'adminBarInjector' %}
  {% assign isAdmin = true %}

{%if product.metafields.custom.product_flags != true %}

<style>
ul.metafield-single_line_text_field-array {
list-style: none;
    display: inline-flex;
    padding: 5px 0 0 25px;
    margin: 12px 0 0;
}

li.metafield-single_line_text_field {
    padding: 0 10px 0 0;
}
</style>  

<div style="background: #777;
    color: white;
    padding: 5px;
    font-size: 20px;
}">


<b>Product Flags: </b>{{ product.metafields.custom.product_flags | metafield_tag }}


</div> 

{%endif%}

{% endif %}