<!-- 
Simple method for detecting an Admin in Shopify using liquid.
Quick code by jason at freakdesign.com.au
Related Blog post: http://freakdesign.com.au/blogs/news/34154561
-->
{% capture CFH %}{{ content_for_header  }}{% endcapture %}

{% if CFH contains 'admin_bar_iframe' or CFH contains 'adminBarInjector' %}
  {% assign isAdmin = true %}

{%if product.metafields.custom.product_flags =! true %}
<div style="background: black;color:white;padding:5px;">


<b>Product Flags: </b>{{ product.metafields.custom.product_flags | metafield_tag }}


</div>

{%endif%}

{% endif %}