
{% if product.template_suffix contains 'mail-in-sharpening' %}

<p class="line-item-property__field">
  <label for="description-of-knives-you-are-sending-us">Description of knives you are sending us</label>
  <textarea id="description-of-knives-you-are-sending-us" name="properties[Description of knives you are sending us]"></textarea>
</p>

{% endif %}