
{% if product.template_suffix contains 'mail-in-sharpening' %}

<p class="line-item-property__field">
  <label for="description-of-knives-you-are-sending-us">Description of knives you are sending us</label>
  <textarea id="description-of-knives-you-are-sending-us" name="properties[Description of knives you are sending us]"></textarea>
</p>

<style>
.ep-paint-block-wishlist {display:none !important;}
</style>

{% endif %}

{% if product.template_suffix contains 'class-' %}

<p class="line-item-property__field">
  <label for="buying-the-class-as-gift-let-us-know-who-will-be-attending"><b>Buying the class as gift? Let us know who will be attending:</b></label>
  <input id="buying-the-class-as-gift-let-us-know-who-will-be-attending" type="text" name="properties[Buying the class as gift? Let us know who will be attending: ]">
  <label for="are-you-booking-for-someone-under-the-age-of-16">Are you booking for someone under the age of 16?</label>
  <input type="hidden" name="properties[Are you booking for someone under the age of 16?]" value="No">
  <input id="are-you-booking-for-someone-under-the-age-of-16" type="checkbox" name="properties[Are you booking for someone under the age of 16?]" value="Yes">
  
</p>

<style>
.ep-paint-block-wishlist {display:none !important;}
</style>

{% endif %}


