
{% if product.template_suffix contains 'mail-in-sharpening' %}

<p class="line-item-property__field">
  <label for="description-of-knives-you-are-sending-us">Description of knives you are sending us</label>
  <textarea id="description-of-knives-you-are-sending-us" name="properties[Description of knives you are sending us]"></textarea>
</p>

{% endif %}

{% if product.template_suffix contains 'class-' %}

<p class="line-item-property__field">
  <label for="buying-the-class-as-gift-let-us-know-who-will-be-attending"><b>Buying the class as gift? Let us know who will be attending:</b></label>
  <input id="buying-the-class-as-gift-let-us-know-who-will-be-attending" type="text" name="properties[Buying the class as gift? Let us know who will be attending: ]">
</p>

{% endif %}

